body{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/pizzalinda.jpg);
    background-size: cover;
    display: grid;
}
main{
    height: 70%;
    width: 100%;
    background-color: #fff;
    align-self: flex-end;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 18px;
}
.meu-perfil{
    display: flex;
    gap: 20px;
}
img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
