body{
    height: 100vh;
    width: 100vw;
}
header{
    width: 100%;
    height: 233px;
    z-index: -1;
}
main{
   
}
.white-square{
    height: 400px;
    width: 100%;
    background-color: aqua;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}