body{
    height: 100vh;
    width: 100vw;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(249,173,103,1) 100%);
    font-family: 'Roboto', sans-serif;
}
header{
    height: 80px;
    padding-top: 27px;
    padding-left: 23px;
    padding-right: 21px;
    display: flex;
    justify-content: space-between;
}
.title{
    color: #fff;
}
.home{
    font-size: 22px;
    font-weight: bold;
}
.text{
    font-size: 14px;
}
.perfil-home{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
main{
    width: 100%;
    height: 528px;
    

}
.input-area{
    width: 100%;
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}
input{
    height: 49px;
    width: 316px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 13px;
   
}
.titulo-area{
    width: 100%;
    height: 40px;
    display: grid;
    padding-left: 30px;
    align-items: end;
    
}
h1{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.categorias-area{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.categoria-box{
    width: 48px;
    height: 48px;
    background-color: #F93030;
    border-radius: 4px;
    display: grid;
    justify-content: center;
    align-items: center;
}
footer{
    width: 100%;
    height: 59px;
    background-color: #F27706;
    place-self: end;
    
}