body{
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 80px;
    padding-top: 27px;
    padding-left: 23px;
    padding-right: 21px;
    display: flex;
    gap: 15px;
}
.title{
    color: #F27706;
}
.home{
    font-size: 22px;
    font-weight: bold;
    color: #F27706;
}
.text{
    font-size: 14px;
}
.perfil-home{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
main{
    width: 100%;
    height: 528px;
    

}
.input-area{
    width: 100%;
    height: 65px;
    display: grid;
    justify-content: center;
    align-items: center;
}
input{
    height: 49px;
    width: 316px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 13px;
    background-color: #EEEEEE;
   
}
.titulo-area{
    width: 100%;
    height: 40px;
    display: grid;
    padding-left: 30px;
    align-items: end;
    
}
h1{
    color: #F27706;
    font-size: 15px;
    font-weight: bold;
}
.categorias-area{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.categoria-box{
    width: 48px;
    height: 48px;
    background-color: #F93030;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100%;
    height: 59px;
    background-color: #F27706;
}