body{
    height: 100vh;
    background-image: url(../img/pizza_back\ 1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
body::after{
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(0deg, #fff0 0%, rgba(242,119,6,1) 100%);
    display: flex;
    flex-direction: column;
    z-index: -1;
}
header{
    height: 150px;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.conteudo-container{
    color: #fff;
}
.conteudo-container h1{
    width: 230px;
}
.conteudo-container p{
    width: 300px;
}
.info{
    display: grid;
}
.campo{
    display: flex;
}
input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}
input::placeholder{
    color: #fff;
}
.linha{
    height: 1px;
    width: 283px;
    background-color: #fff;
}
.areabotao{
    height: 90px;
    width: 300px;
    gap: 13px;
    display: grid;
}
.forgetpassword{
    position: relative;
    justify-self: end;
    color: #fff;
}
.txt{
    color: #F5F5F5;
}
.criarconta{
    color: #F5F5F5;
    font-size: 20px;
    font-weight: bold;
}